*{
    text-align: center; font-family: 'Gamja Flower', sans-serif;
}

html{
    background-color: #ebeffa;
    font-size: 16px;
}

body{
    width: 640px;
    margin: auto;
}

hr1{
    font-size: 48px;
}

img{
    width: 300px;
    height: 200px;
    border-radius: 100px;
}

p{
  font-size: 1.4rem;
}

