* {
    box-sizing: border-box;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  body {
    font-family: Poppins, 'Noto Sans KR', sans-serif;
    margin: 0;
  }
  
  header {
    background-image: url("bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #ffffff;
  }

  .logo {
    font-size: 20px;
    font-weight: 400;
    padding: 12px 40px;
  }
  .logo>span {
    font-weight: 700;
  }

  .main {
    margin: 0 auto;
    width: 720px;
    padding: 12px 40px;
  }

  .main-top {
    font-size: 20px;
    font-weight: 500;
    color: #8287a4;
    margin-top: 80px;
    margin-bottom: 12px;
  }
  
  .main-mid {
    font-size: 56px;
    font-weight: 700;
    color: #ffffff;
    margin-top: 12px;
    margin-bottom: 14px;
  }
  .main-bot {
    font-size: 14px;
    font-weight: 500;
    color: #8287a4;
    margin-top: 14px;
    margin-bottom: 280px;
  }

  section {
    text-align: center;
  }

  div.one, div.two, div.three {
    margin: 0 auto;
    width: 720px;
  }

  section.two {
    background-color: #f1f4fa;
    width: 100%;
  }

  .section-title {
    font-size: 36px;
    font-weight: 700;
    color: #161346;
    padding-top: 74px;
    padding-bottom: 42px;
    text-align: left;
  }

  .section-image {
    border-radius: 24px;
    width: 100%;
    display: inline-block;
  }

  .section-discription {
    font-size: 16px;
    font-weight: 500;
    color: #4c497b;
    padding-top: 32px;
    padding-bottom: 32px;
    display: inline-block;
    text-align: initial;
  }

  .section-button {
    border-radius: 8px;
    background-color: #413c91;
    color: #ffffff;
    text-align: center;
    padding: 16px 32px;
    text-decoration: none;
    margin-bottom: 64px;
    display: inline-block;
  }

  .footer-upper {
    text-align: center;
    background-color: #161346;
  }

  .footer-lower {
    background-color: #120f3f;
  }

  .footer-top {
    font-size: 32px;
    font-weight: 500;
    color: #ffffff;
    padding-top: 48px;
    padding-bottom: 8px;
  }

  .footer-mid {
    font-size: 16px;
    font-weight: 400;
    color: #8287a4;
    padding-bottom: 32px;
  }

  .footer-button {
    border-radius: 9999px;
    background-color: #413c91;
    color: #ffffff;
    text-align: center;
    padding: 16px 32px;
    text-decoration: none;
    margin-bottom: 64px;
    display: inline-block;
  }

  .footer-bot {
    font-size: 16px;
    font-weight: 400;
    color: #d9d9d9;
    padding-top: 32px;
    padding-bottom: 32px;
    margin: 0 auto;
    width: 720px;
  }

  /*
  body {
  background-color: #3c3a4a;
  font-family: 'Noto Sans KR', sans-serif;
  padding: 32px;
}

.container {
  width: 400px;
  background-image: linear-gradient(rgba(159,84,209,0.2), rgba(115,82,208,0.6)), url('bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #ffffff;
  margin: 0 auto;
}

.thumb {
  height: 226px;
}

.progress {
  background-color: rgba(255, 255, 255, 0.2);
}

.progress-value {
  background-color: #5f23e0;
  width: 20%;
  height: 4px;
}

.player {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 14px 24px;
  font-size: 16px;
  line-height: 23px;
}

.player-icon {
  height: 13px;
  margin-right: 24px;
}

.player-title {
  font-weight: 500;
  margin-right: 16px;
}

.player-artist {
  color: rgba(255, 255, 255, 0.5);
}

.song {
  width: 352px;
  margin: 8px auto;
  background-color: #434153;
  padding: 16px 24px;
}

.song-title {
  font-size: 16px;
  line-height: 23px;
  color: rgba(255, 255, 255, 0.6);
}

.song-artist {
  color: rgba(255, 255, 255, 0.2);
  font-size: 12px;
}*/